body {
    text-align: center;
    

}

.profile {
    width: 175px margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {


    height: 800px;
    color: black;


    opacity: 0.84;
    background: linear-gradient(#3772FF 61%, #70E4EF 39%);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    font-family: monospace;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 400;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
    color: aqua;

}

.line {
    height: 6px;
    background-color: blue;
    width: 70px;
    margin: 8px auto;

}

p {
    max-width: 450px;
    margin: 25px auto;
    line-height: 25px;
    font-size: 25px;
    color: black;
}

#Videos {
    font-family: cursive;
    font-size: 50px;
    background-color: aqua
}

#Qualifications {
    font-family: cursive;
    font-size: 50px;
    background-color: aquamarine;
}

h1 {
    background-color: red;
}

#apps {
    background-color: blue;
    font-family: cursive;
    font-size: 50px;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 9999;
}
input{
    background-color: aqua;
}
